::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--el-color-info-light-7);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-color-info-light-6);
}
